@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}
body {
	overflow: hidden;
	font-family: Roboto, sans-serif;
}
.timer-card {
	height: 90px;
	width: 150px;
	background-color: #757575;
	position: absolute;
	top: 110px;
	left: 5%;
	color: white;
	border-radius: 5px;
	text-align: center;
}
.infos-card {
	height: 300px;
	min-width: 150px;
	background-color: #757575;
	position: absolute;
	top: 250px;
	left: 5%;
	color: white;
	border-radius: 5px;
	text-align: center;
}
#name {
	text-transform: uppercase;
}
.infos-card div {
	margin-bottom: 10px;
}
.container{
	width: 100%;
}
.card {
	width: 800px;
	height: 460px;
	margin-top: 70px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	border-radius: 6px;
}
.col-1 {
	width: 400px;
	height: 60%;
	background-color: white;
	float: left;
	margin-top: 0;
}
.ia-section {
	height: 210px;
	width: 210px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 35px;
	background-color: #81d4fa;
}
.col-2 {
	width: 400px;
	height: 60%;
	background-color: white;
	float: right;
}
#ia-image img {
	height: 160px;
	margin-top: 30px;
}
.player-section {
	height: 210px;
	width: 210px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 35px;
	background-color: #81d4fa;
}
#player-image img {
	height: 160px;
	margin-top: 30px;
}
.col-3 {
	width: 800px;
	height: 40px;
	float: right;
	margin-bottom: 20px;
	margin-top: 20px;
}
.col-3 div {
	width: 350px;
	height: 40px;
	margin: 0;
	display: inline-block;
	background-color: #757575;
	border-radius: 5px;
	color: white;
}

#ia-text, #player-text {
  margin: 20px;
  font-size: 20px;
  line-height: 5px;
}

.col-4 {
  width: 800px;
  height: 60px;
  float: right;
}

.name-form {
  margin-bottom: 40px;
}

.col-5 {
  width: 800px;
  float: right;
  margin-top: 30px;
}

button {
  font-size: 47px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  border: 0;
  background-color: #81d4fa;
  border-radius: 5px;
  color: #424242;
}

button i {
  margin: 10px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: whitesmoke;
}

.footer-text {
	text-align: center;
	letter-spacing: 1px;
}

label {
	margin-right: 10px;
}
