@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

body {
		overflow: hidden;
		font-family: Roboto, sans-serif;
}

.timer-card {
  height: 70px;
  width: 150px;
  background-color: #424242;
  position: absolute;
  top: 15%;
  left: 5%;
  color: white;
  border-radius: 5px;
}

.infos-card {
  height: 300px;
  min-width: 150px;
  background-color: #424242;
  position: absolute;
  top: 25%;
  left: 5%;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.infos-card div {
  margin-bottom: 10px;
}

.container{
  width: 100%;
}

.card {
	width: 800px;
	height: 460px;
	margin-top: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	letter-spacing: 1px;
  font-size: 20px;
	border-radius: 6px;
}

.col-1 {
  width: 399px;
  height: 60%;
  background-color: white;
  float: left;
  margin-top: 0;
  border-right: 1px dotted grey;
}

.ia-section {
  height: 190px;
  width: 190px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 45px;
}

.col-2 {
  width: 400px;
  height: 60%;
  background-color: white;
  float: right;
}

#ia-image img {
  height: 150px;
  margin-top: 20px;
}

.player-section {
  height: 190px;
  width: 190px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 45px;
}

#player-image img {
  height: 150px;
  margin-top: 20px;
}

.col-3 {
  width: 800px;
  height: 40px;
  float: right;
  margin-bottom: 20px;
}

.col-3 div {
  width: 397px;
  height: 40px;
  margin: 0;
  display: inline-block;
  background-color: #81d4fa;
  border-radius: 5px;
}

#ia-text, #player-text {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
}

.col-4 {
  width: 800px;
  height: 60px;
  float: right;
}

.name-form {
  margin-bottom: 40px;
}

.col-5 {
  width: 800px;
  float: right;
  margin-top: 30px;
}

button {
  font-size: 47px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  border: 0;
	background-color: #81d4fa;
  border-radius: 5px;
  color: #424242;
}

button i {
  margin: 10px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: whitesmoke;
}

.footer-text {
	text-align: center;
	letter-spacing: 1px;
}

label {
	margin-right: 10px;
}
